<dx-data-grid
[allowColumnReordering]="true"
[dataSource]="jsonDataSource"
[columnAutoWidth]="true"
[rowAlternationEnabled]="true"
[showBorders]="true"
id="gridContainer"
>

<dxo-editing
        [allowUpdating]="true"
        [allowAdding]="false"
        [allowDeleting]="true"
        mode="row">
</dxo-editing>

<dxo-filter-row
    [visible]="showFilterRow"
    [applyFilter]="currentFilter"
    
></dxo-filter-row>

<dxo-search-panel
    [visible]="true"
    [width]="240"
    placeholder="Buscar"
    
    
    
></dxo-search-panel>

 <dxo-header-filter  [visible]="showHeaderFilter"></dxo-header-filter>

 <dxo-paging [pageSize]="10"></dxo-paging>
 <dxo-pager  
 [visible]="true"
 [showNavigationButtons]="showNavButtons"
 >
</dxo-pager>

<dxi-column 
    dataField="id"
    alignment="center"
    [allowEditing]="false"
    [allowHeaderFiltering]="false">
    >
</dxi-column>
<dxi-column 
    dataField="nombre"
    alignment="center"
    [allowHeaderFiltering]="false">
    >
</dxi-column>
<dxi-column 
    dataField="precio"
    alignment="center"
    caption="Precio €"
    >
    <dxo-header-filter
      [dataSource]="saleAmountHeaderFilter"
    ></dxo-header-filter>
</dxi-column>
<dxi-column 
    dataField="departamento"
    alignment="center"
    [allowEditing]="false"
    >
    <dxo-header-filter
    [dataSource]="departamentoHeaderFilter"
  ></dxo-header-filter>
</dxi-column>

</dx-data-grid>
