<h2>Producto con id: {{productoEncontrado.id}}</h2>
<div>
    <tabset>
      <tab heading="Ganancias" id="tab1">
        <div>
          <p>Total de productos vendidos: {{productoEncontrado.cantidadVendidos}} </p>
        </div>
        <div>
          <p>Total de ganancias: {{productoEncontrado.ganancias}}</p>
        </div>
      </tab>
      <tab heading="Administrar">
        <table>
          <tr>
            <td>
              Añadir stock
              <form #registerStockForm="ngForm" (ngSubmit)="addStock()"> 
                <input type="number"  name="cantidad" class="form-control" [(ngModel)]="cantidad">
                <button class="btn btn-dark" type="submit" >Aumentar</button>
              </form>
            </td>
            <td>
              Poner en venta
              <form #registerEnVentaForm="ngForm" (ngSubmit)="ponerVenta()"> 
                <input type="number"  name="cantidadVenta" class="form-control" [(ngModel)]="cantidadVenta">
                <button class="btn btn-dark" type="submit" >Poner en venta</button>
              </form>
            </td>
            <td>
              Quitar en venta
              <form #registerQuitarVentaForm="ngForm" (ngSubmit)="quitarVenta()"> 
                <input type="number"  name="cantidadQuitarVenta" class="form-control" [(ngModel)]="cantidadQuitarVenta">
                <button class="btn btn-dark" type="submit" >Quitar en venta</button>
              </form>
            </td>
          </tr>
          <tr>
            <td>
              <div>
                Stock total: {{productoEncontrado.stocks}}
              </div>
              <div>
                Productos en venta: {{productoEncontrado.cantidadVenta}}
              </div>
            </td>
          </tr>
        </table>
      </tab>
    </tabset>
  </div>