<div id="contenedor">
    <tabset class="text-center">
      <h4>Producto con id: {{productoEncontrado.id}}</h4>
      <tab heading="Ganancias" id="tab1">
        <table id="ventas" align="center">
          <tr>
            <td>
              <div>
                <p>Total de productos vendidos: {{productoEncontrado.cantidadVendidos}} </p>
              </div>
            </td>
            <td>
              <div>
                <p>Total de ganancias: {{FormatPrice(productoEncontrado.ganancias)}}</p>
              </div>
            </td>
          </tr>
        </table>

      </tab>
      <tab heading="Administrar">
        <table id="funciones">
          <tr>
            <td>
              Añadir stock
              <form #registerStockForm="ngForm" (ngSubmit)="addStock()"> 
                <input type="number"  name="cantidad" class="form-control" [(ngModel)]="cantidad">
                <button class="btn btn-dark" type="submit" >Aumentar</button>
              </form>
            </td>
            <td rowspan="3" id="datos">
              <div id="datos1">
                Stock total: {{productoEncontrado.stocks}}
              </div>
              <div  id="datos2">
                Productos en venta: {{productoEncontrado.cantidadVenta}}
              </div>
            </td>
          </tr>
          <tr>
            <td>
              Poner en venta
              <form #registerEnVentaForm="ngForm" (ngSubmit)="ponerVenta()"> 
                <input type="number"  name="cantidadVenta" class="form-control" [(ngModel)]="cantidadVenta">
                <button class="btn btn-dark" type="submit" >Poner</button>
              </form>
            </td>
          </tr>
          <tr>
            <td>
              Quitar en venta
              <form #registerQuitarVentaForm="ngForm" (ngSubmit)="quitarVenta()"> 
                <input type="number"  name="cantidadQuitarVentat" class="form-control" [(ngModel)]="cantidadQuitarVenta">
                <button class="btn btn-dark" type="submit" >Quitar</button>
              </form>
            </td>
          </tr>
        </table>
      </tab>
    </tabset>
  </div>