<h2>Producto con id: {{productoEncontrado.id}}</h2>
<div>
    <tabset>
      <tab heading="Ganancias" id="tab1">
        <div>
          <p>Total de productos vendidos: </p>
        </div>
        <div>
          <p>Total de ganancias: </p>
        </div>
      </tab>
      <tab heading="Administrar">
        <table>
          <tr>
            <td>
              Añadir stock
              <input type="number" class="form-control">
            </td>
            <td>
              Poner en venta
              <input type="number" class="form-control">
            </td>
            <td>
              Quitar en venta
              <input type="number" class="form-control">
            </td>
          </tr>
          <tr>
            <td>
              <div>
                Stock total:
              </div>
              <div>
                Productos en venta:
              </div>
            </td>
          </tr>
        </table>
      </tab>
    </tabset>
  </div>