#dataGrid {
    height: 500px;
    
  }

form{
  margin-left: 33%;
  margin-right: 33%;
}

#letrero{
  margin-top: 1%;
  margin-bottom: 1%;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px gray;
}

#rutas{
  border: 5px solid black;
  margin-top: 10%;
  width: 30%;
  height: 350px;
  box-shadow: 2px 2px 2px gray;
}

#rutas button{
  margin-right: 2% ;
  margin-top: 9%;
  width: 30%;
  height: 20%;
  box-shadow: 1px 1px 1px gray;
}

#rutas h2 {
  margin-top:10%;
  text-transform: capitalize;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}