<nav class="navbar navbar-expand-lg bg-body-tertiary"  data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="" routerLinkActive="active">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
          <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
        </svg></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="datos" routerLinkActive="active"  *ngIf="this.admin_bajo==true || this.admin_medio==true || this.admin==true">Datos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  routerLink="registro" routerLinkActive="active"  *ngIf="this.admin_medio==true || this.admin==true">Crear Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  routerLink="visual" routerLinkActive="active"  *ngIf="this.admin_bajo==true || this.admin_medio==true || this.admin==true">Visualizar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  routerLink="buscar" routerLinkActive="active" *ngIf="this.admin_medio==true || this.admin==true">Actualizar Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  routerLink="registroAdmin" routerLinkActive="active" *ngIf="this.admin==true">Dar de alta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  routerLink="ventas" routerLinkActive="active"  *ngIf="this.admin==true">Ventas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  routerLink="compra" routerLinkActive="active">Compras</a>
          </li>
          <li class="nav-item" [hidden]="this.iniciado==true">
            <a class="nav-link active" aria-current="page"  routerLink="registroUsuario" routerLinkActive="active">Registrarse</a>
          </li>
          <li class="nav-item" [hidden]="this.iniciado==true">
            <a class="nav-link active" aria-current="page"  routerLink="inicioSesion" routerLinkActive="active">Iniciar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
    <div [hidden]="this.iniciado!=true" class="dropdown form-inline my-2 my-lg-0" dropdown id="usuario">
      <a class="dropdown-toggle text-light text-decoration-none ms-2" dropdownToggle>{{usuario.nombre}} {{usuario.apellidos}}</a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item">Carrito</a>
          <a class="dropdown-item" routerLink="editarPerfil">Editar perfil</a>
          <a class="dropdown-item" (click)="cerrar()">Cerrar sesión</a>
      </div>
  </div>
  </nav>